@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  max-width: 1152px;
  margin: auto;
}

.primary-color {
  color: #ff6464;
}

.secondary-color {
  color: #00a8cc;
}

.dark-color {
  color: #21243d;
}

.light-color {
  color: #8695a4;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 27px;
  padding-right: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}

nav > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  padding-block: 6.7px;
}

nav > a:hover {
  color: #ff6464;
  transition: 0.2s;
}

.nav-mobile {
  display: none;
}

.profile {
  padding: 140px 148px 71px 148px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.profile-pic-shadow {
  position: absolute;
  top: 13px;
  right: 5px;
  width: 243px;
  height: 243px;
  background-color: #e7f7fa;
  border-radius: 50%;
  z-index: -1;
}

.profile-pic {
  border-radius: 50%;
  width: 243px;
  height: 243px;
  position: relative;
}

.profile-pic > img {
  width: 100%;
  border-radius: 50%;
}

.profile-info {
  margin-top: 5px;
}

.profile-info > h1 {
  font-size: 44px;
  line-height: 60px;
  margin-bottom: 40px;
}

.profile-info > p {
  width: 500px;
  margin-bottom: 38px;
}

.profile-info > button {
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 20px;
  padding: 7px 19px;
  color: white;
  background-color: #ff6464;
  border: none;
  cursor: pointer;
}

.feed {
  background-color: #edf7fa;
  padding: 7px 148px 32px 148px;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 7px;
}

.feed-header > p {
  font-size: 22px;
  line-height: 60px;
}

.feed-header > a {
  text-decoration: none;
}

.posts {
  display: flex;
  justify-content: space-between;
}

.post {
  background-color: white;
  width: 48.883%;
}

.post > h1 {
  font-size: 26px;
  padding: 24px 22px;
}

.post-date {
  padding-inline: 22px;
  font-size: 18px;
}

.post span {
  font-size: 21px;
  color: black;
}

.post-info {
  padding-inline: 22px;
  padding-block: 14px 31px;
}

.featured {
  padding: 15px 148px 83px 148px;
}

.featured-head {
  font-size: 22px;
  line-height: 60px;
}

.featured-card {
  display: flex;
  gap: 20px;
  padding-block: 29px;
  border-bottom: 1px solid #e0e0e0;
}

.featured-img {
  min-width: 240px;
}

.featured-img > img {
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 6px;
}

.featured-content > a {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
  text-decoration: none;
}

.featured-category {
  display: flex;
  align-items: baseline;
  gap: 26px;
  margin-block: 5px 20px;
}

.yr {
  background-color: #142850;
  color: white;
  width: 62px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  border-radius: 16px;
  padding-inline: 10px;
}

.featured-type {
  font-size: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 50px;
}

.contact {
  display: flex;
  gap: 35px;
  margin-bottom: 20px;
}

footer > p {
  font-size: 14px;
}

.all-works {
  padding: 95px 235px 58px 235px;
}

.all-works > h1 {
  font-size: 44px;
  line-height: 60px;
  margin-bottom: 5px;
}

.work-detail-content {
  padding: 78px 235px 27px 235px;
}

.work-detail-content > h1 {
  font-size: 34px;
}

.work-detail-content-category {
  margin-top: 30px;
  display: flex;
  justify-content: baseline;
  gap: 17px;
}

.work-detail-content-intro {
  margin-block: 23px 46px;
}

.work-detail-content > img {
  width: 100%;
}

.work-detail-content-content-header {
  font-size: 30px;
  font-weight: 500;
  margin-top: 60px;
}

.work-detail-content-content-subheader {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
}

.work-detail-content-content-info {
  margin-block: 20px;
}

@media screen and (max-width: 431px) {

  .hidden-on-mobile {
    display: none;
  }

  header {
    padding-block: 20px;
    padding-right: 20.64px;
  }

  .nav-mobile {
    display: inline;
    cursor: pointer;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    padding: 33px 27px 58px 27px;
  }

  .profile-pic-shadow {
    width: 196px;
    height: 196px;
    top: 9px;
    right: 3px;
  }

  .profile-pic {
    width: 196px;
    height: 196px;
  }

  .profile-info {
    text-align: center;
  }

  .profile-info > h1 {
    margin-top: 43px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 21px;
  }

  .profile-info > p {
    width: 100%;
    margin-bottom: 27px;
  }

  .feed {
    padding: 1px 12.6px 38px 12.6px;
  }

  .feed-header {
    justify-content: center;
  }

  .feed-header > p {
    font-size: 18px;
  }

  .posts {
    flex-direction: column;
    gap: 19px;
  }

  .post {
    width: 100%;
  }

  .post > h1 {
    font-size: 22px;
    padding: 12px 19px;
  }

  .post-date {
    font-size: 16px;
  }

  .featured {
    padding: 3px 18px 100px 18px;
  }

  .featured-head {
    text-align: center;
    font-size: 18px;
  }

  .featured-card {
    flex-direction: column;
    padding-block: 2px 17px;
    gap: 17px;
  }

  .featured-content > h1 {
    font-size: 24px;
  }

  .featured-category {
    gap: 22px;
  }

  .yr {
    font-size: 16px;
  }

  .featured-type {
    font-size: 16px;
  }

  .all-works {
    padding: 16px 18px 0 18px;
  }

  .all-works > h1 {
    font-size: 30px;
    margin-bottom: 11px;
  }

  .work-detail-content {
    padding: 32px 18px 30px 18px;
  }

  .work-detail-content > h1 {
    font-size: 30px;
  }

  .work-detail-content-content-header {
    font-size: 26px;
  }

  .work-detail-content-content-subheader {
    font-size: 20px;
  }
}